* {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1 {
    font-size: 56px;
    text-shadow: -8px 8px 5px #00000088;
    z-index: 1;

}

body {
    background-blend-mode: soft-light;
    background-image: radial-gradient( rgb(0, 0, 133) 90%, #000000 100%);

    
    color: rgb(202, 202, 202);
}

#center {
    line-height: 80px;
    background-color: rgba(0, 0, 0, 0.404);
    width: 50%;
    height: 500px;
    transform: translate(50%);
    box-shadow: -8px 8px 10px #00000088;
    
}


#add-new-user {
    line-height: 30px;
}